/* ==========================================================================
   Main Visual (SCSS)
   Original idea and inspired by https://www.shadertoy.com/view/fdXXWH
   ========================================================================== */

/* SCSS variables */
$margin: 32px;
$gutter: 16px;

/* CSS variables (runtime 사용용) */
:root {
    --margin: #{$margin};
    --gutter: #{$gutter};
}

/* 섹션: 메인 비주얼 */
#main {
    .main_visual {
        display: none;
        position: relative;
        height: 100vh;
        overflow: hidden;

        /* 셰이더 캔버스 레이어 (z=5, 뒤로) */
        .shader-root {
            position: absolute;
            inset: 0;
            z-index: 5;
            pointer-events: none;

            canvas {
                position: absolute;
                inset: 0;
                width: 100%;
                height: 100%;
                display: block;
                pointer-events: none;
            }
        }

        /* 레이아웃 래퍼 */
        .layout {
            position: relative;
            height: 100%;

            /* 중앙 타이포 */
            .visual_text {
                position: relative;
                height: 100%;
                font-size: 120px;
                font-weight: 800;
                line-height: 1;
                text-align: center;

                display: flex;
                flex-direction: column;
                justify-content: center;
                z-index: 10;

                .text_top {
                    color: #eee;
                }

                .text_middle {
                    color: transparent;
                    text-shadow:
                        -1px 0 #eee,
                        0 1px #eee,
                        1px 0 #eee,
                        0 -1px #eee;
                }

                .text_bottom {
                    color: #eee;
                }
            }
        }

        /* (옵션) 배경 텍스트가 있다면 여기에 스타일 추가 가능
  .background_text { ... }
  */
    }
}

@media screen and (min-width: 861px) and (max-width: 1024px) {
    #main {
        .main_visual {
            .layout {

                .visual_text {
                    font-size: 100px;
                }
            }

        }
    }
}

@media screen and (max-width: 860px) {
    #main {
        .main_visual {
            .layout {

                .visual_text {
                    font-size: 50px;
                }
            }

        }
    }
}

/* dat.GUI 등 컨트롤 패널이 있다면
.dg.ac {
  z-index: 9999;
}
*/