@charset "utf-8";
@import url(reset.css);
@import url(font.css);

@mixin imgBox {
  width: 100%;
  object-fit: cover;
  display: block;
}

@mixin btnStyle {
  font-size: 16px;
  display: block;
  padding: 4px 16px;
  border: 1px solid black;
  border-radius: 50px;
  white-space: nowrap;
}

@mixin btnHover {
  color: white;
  border: 1px solid black;
  background-color: black;
  transition: 0.3s;
}

@mixin btnClicked {
  color: white;
  border: 1px solid black;
  background-color: black;
  transition: 0.3s;
}

html,
body {
  font-family: 'pretendard';
  font-size: 16px;
  line-height: 1.5;
}

section .inner {
  max-width: 1200px;
  width: calc(100% - 80px);
  margin: 0 auto;

  /*  background-color: antiquewhite; */
}

#header {
  width: 100%;
  color: white;
  height: 70px;
  background-color: black;
  position: fixed;
  z-index: 99;

  .inner {
    width: 100%;
    height: 100%;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      img {}
    }

    .gnb {
      font-size: 18px;
      display: flex;
      gap: 60px;

      li {
        .menu {}

      }
    }
  }
}

.section-01 {
  .inner {
    display: flex;
    align-items: center;
    padding: 300px 0;
    gap: 10.5%;

    .image {
      width: 23.5%;
      height: 371px;

      img {
        @include imgBox;
        height: 100%;
        display: block;
      }
    }

    .list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 59.5%;
      row-gap: 50px;

      .item {
        max-width: 306px;
        width: 42.85%;

        h3 {
          margin-bottom: 10px;
          font-size: 20px;
          font-weight: 600;
        }

        ul {
          li {
            margin-top: 4px;
          }
        }

        .Skill_list {
          font-size: 12px;
          display: flex;
          flex-wrap: wrap;
          gap: 20px 24px;

          li {
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
              width: 36px;
              height: 36px;
              object-fit: cover;
            }
          }
        }
      }
    }
  }
}

.section {
  .inner {
    padding: 0 0 300px;

    .cat_wrap {
      display: flex;
      justify-content: center;
      gap: 24px;
      margin-bottom: 40px;

      li {
        a {
          @include btnStyle();
          font-size: 14px;
        }

        a:hover {
          @include btnHover();
        }
      }
    }

    .list {
      display: flex;
      flex-direction: column;
      gap: 150px;

      .item {
        display: flex;
        justify-content: space-between;
        position: relative;
        padding: 85px 0 0 0;
        gap: 20px;


        .item-title {
          position: absolute;
          top: 0;
          left: 50%;
          transform: translate(-50%, 0%);
          text-align: center;
          font-size: 30px;
          font-weight: 600;
          white-space: nowrap;
        }

        .item-left {
          width: 64.33%;
          display: flex;
          flex-direction: column;
          gap: 20px;

          .image {
            display: flex;
            justify-content: center;
            padding: 30px 30px 50px;
            width: 100%;

            border: 1px solid #333333;
            border-radius: 36px;


            img {
              @include imgBox();
            }
          }

          .tool {
            padding: 30px;
            border: 1px solid #333333;
            border-radius: 36px;
            display: flex;
            gap: 36px;

            li {
              display: flex;
              flex-direction: column;
              align-items: center;
              gap: 5px;

              img {
                width: 36px;
                height: 36px;
                object-fit: cover;
                display: block;
              }

              span {
                font-size: 14px;
                display: block;
              }
            }
          }
        }

        .item-right {
          width: 34%;
          padding: 30px;
          border: 1px solid #333333;
          border-radius: 36px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          position: relative;

          .project_info {
            display: flex;
            flex-direction: column;
            gap: 20px;


            li {
              strong {}

              p {
                line-height: 1.5;
              }
            }
          }

          .QR {
            display: block;
            position: absolute;
            bottom: 0;
            right: 0;
            width: 23.47%;

            margin: 0 30px 30px 0;
            object-fit: cover;


          }

          .link_wrap {
            display: flex;
            flex-direction: column;
            row-gap: 10px;


            li {

              a {
                width: 160px;
                height: 32px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                border: 1px solid #333333;
                border-radius: 10px;
                text-align: center;
                line-height: 34px;

              }

              a:hover {
                @include btnHover();
              }
            }
          }
        }
      }
    }
  }
}

.section-02 {
  .web_renewal {
    @include btnClicked;
  }
}

.section-03 {
  .app_renewal {
    @include btnClicked;
  }
}

.section-04 {
  .clone_coding {
    @include btnClicked;
  }
}

@media screen and (min-width : 961px) and (max-width : 1023px) {

  html,
  body {}

  #header {
    height: 60px;


    .inner {
      padding: 0 40px;

      .logo {
        img {}
      }

      .gnb {
        font-size: 16px;
        gap: 40px;

        li {
          .menu {}

        }
      }
    }
  }



  .section {
    .inner {
      padding: 0 0 200px;

      .cat_wrap {
        gap: 16px;
        margin-bottom: 30px;


      }

      .list {
        gap: 100px;

        .item {
          padding: 72px 0 0 0;
          gap: 16px;


          .item-title {
            font-size: 28px;
          }

          .item-left {
            width: 61.86%;
            gap: 16px;

            .image {

              padding: 24px;
              border-radius: 24px;
            }

            .tool {
              padding: 24px;
              border-radius: 24px;
              gap: 24px;

              li {
                gap: 2px;

                img {
                  /*                   width: 36px;
                  height: 36px; 
                  보고 24로 변경*/
                }

                span {
                  /* font-size: 14px; 보고 12px로 변경*/

                }
              }
            }
          }

          .item-right {
            width: 36.44%;
            padding: 24px;
            border-radius: 24px;

            .project_info {
              gap: 16px;

              p {
                font-size: 15px;
              }


            }

            .QR {
              width: 31.97%;
              margin: 0 24px 24px 0;
            }

            .link_wrap {
              row-gap: 10px;


              li {

                a {
                  width: 140px;
                  height: 30px;
                  line-height: 30px;

                }

                a:hover {
                  @include btnHover();
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width : 960px) {

  html,
  body {

    font-size: 14px;
  }

  section .inner {
    width: calc(100% - 40px);
  }

  #header {
    height: 60px;


    .inner {
      padding: 0 20px;

      .logo {
        img {}
      }

      .gnb {
        font-size: 16px;
        gap: 40px;

        li {
          .menu {}

        }
      }
    }
  }



  .section {
    .inner {

      padding: 0 0 100px;

      .cat_wrap {
        width: 100%;
        gap: 16px;
        margin-bottom: 30px;
        overflow-x: scroll
      


      }

      .list {
        gap: 100px;

        .item {

          flex-direction: column;
          padding: 63px 0 0 0;
          gap: 16px;


          .item-title {
            font-size: 22px;
          }

          .item-left {
            width: 100%;
            gap: 16px;
            border: 1px solid #333333;
            border-radius: 16px;

            .image {
              padding: 16px;
              border: none;
              border-radius: 0;
            }

            .tool {
              padding: 16px;
              border: none;
              border-radius: 0;
              gap: 16px;

              li {
                width: 8.35%;



                img {
                  width: 100%;
                  height: auto;



                }

                span {
                  display: none;

                }
              }
            }
          }

          .item-right {
            width: 100%;
            padding: 0 0 46px;
            border: none;
            border-radius: 0;

            .project_info {
              border: 1px solid #333333;
              padding: 16px;
              border-radius: 16px;


              p {
                font-size: 14px;
              }


            }

            .QR {
              top: 0;
              bottom: auto;
              width: 31.97%;
              margin: 16px 16px 0 0;
              width: 36px;
              height: 36px;

            }

            .link_wrap {
              flex-direction: row;
              row-gap: 0;
              gap: 16px;
              position: absolute;
              bottom: 0;
              width: 100%;


              li {


                a {
                  display: block;
                  width: 30%;
                  background-color: aqua;

                  height: 30px;
                  line-height: 30px;

                }

                a:hover {
                  @include btnHover();
                }
              }
            }
          }
        }
      }
    }
  }
}