@charset "utf-8";
@import url(reset.css);
@import url(font.css);

@mixin imgBox {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;

}
html, body {
  font-size: 20px;
  line-height: 1.5;
}

section .inner {
  max-width: 1200px;
  width: calc(100% - 80px);
  margin: 0 auto;
 /*  background-color: antiquewhite; */
}

.section-01 {
  .inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 127px;
    padding: 290px 0;

    .image {
      width: 380px;
      height: 499px;
      

      img {
        @include imgBox;
        display: block;
      }
    }

    .list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 688px;
      .item {
        width: 282px;
        h3 {
          margin-bottom: 20px;
          font-size: 24px;
          font-weight: 600;
        }
        ul {
          li {
            margin-top: 5px;
          }
          
        }
        .Skill_list {
          font-size: 12px;
            display: flex;
            flex-wrap: wrap;
            column-gap: 24px;
            li {
              display: flex;
              flex-direction: column;
              align-items: center;
              
              img {
                width: 36px;
                height: 36px;
                object-fit: cover;
              }
            }
          }
        

      }
    }
  }
}