@charset "utf-8";
@import url(reset.css);
@import url(font.css);

@mixin imgBox {
  width: 100%;

  object-fit: cover;
  display: block;
}
@mixin btnStyle {
  font-size: 16px;
  display: block;
  padding: 4px 16px;
  border: 1px solid black;
  border-radius: 50px;
}

@mixin btnHover {
  color: white;
  border: 1px solid black;
  background-color: black;
  transition: 0.3s;
}
@mixin btnClicked {
  color: white;
  border: 1px solid black;
  background-color: black;
  transition: 0.3s;
}
html,
body {
  font-size: 18px;
  line-height: 1.5;
}

section .inner {
  max-width: 1200px;
  width: calc(100% - 80px);
  margin: 0 auto;

  /*  background-color: antiquewhite; */
}

.section-01 {
  .inner {
    display: flex;
    align-items: center;
    gap: 126px;
    padding: 300px 0;

    .image {
      width: 282px;
      height: 372px;

      img {
        @include imgBox;
        display: block;
      }
    }

    .list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 688px;
      gap: 56px;
      .item {
        width: 282px;
        h3 {
          margin-bottom: 10px;
          font-size: 20px;
          font-weight: 600;
        }
        ul {
          li {
            margin-top: 4px;
          }
        }

        .Skill_list {
          font-size: 12px;
          display: flex;
          flex-wrap: wrap;
          gap: 20px 24px;
          li {
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
              width: 36px;
              height: 36px;
              object-fit: cover;
            }
          }
        }
      }
    }
  }
}
.section {
  .inner {
    padding : 0 0 300px;
    display: flex;
    flex-direction: column;
    .cat_wrap {
      display: flex;
      gap: 24px;
      margin-bottom: 50px;
      li {
        a {
          @include btnStyle();
          font-size: 14px;
        }
        a:hover {
          @include btnHover();
        }
      }
    }
    .item {
      display: flex;
      justify-content: space-between;

      .image {
        width: 486px;

        img {
          @include imgBox();
        }
      }
      .contents_wrap {
        width: 486px;
        .project_info {
          display: flex;
          flex-direction: column;
          gap: 8px;
          li {
            display: flex;
            gap: 24px;
            strong {
              width: 78px;
            }
            p {
            }
          }
        }
        > p {
          margin: 30px 0;
          font-size: 16px;
        }
        .link_wrap {
          display: flex;
          gap: 24px;

          li {
            a {
              @include btnStyle();
            }
            a:hover {
              @include btnHover();
            }
          }
        }
      }
    }
  }
}
