/*
  Original idea and inspired by https://www.shadertoy.com/view/fdXXWH
*/

@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;1,300&family=Space+Mono&display=swap");

:root {
    --margin: 32px;
    --gutter: 16px;
}

.shader-root {
    position: absolute;
    inset: 0;
    z-index: 5; /* 뒤로 */
}
.shader-root canvas {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%; /* 섹션 높이에 딱 맞춤 */
    display: block;
}
.main_visual {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.layout {
    position: relative;
    height: 100%;
}
.visual_text {
    position: relative;
    height: 100%;
    font-size: 120px;
    font-weight: 800;
    line-height: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 10;
}
.visual_text .text_top {
    color: #eeeeee;
}
.visual_text .text_middle {
    
    color: transparent;
    text-shadow:
        -1px 0 #eeeeee,
        0 1px #eeeeee,
        1px 0 #eeeeee,
        0 -1px #eeeeee;
}
.visual_text .text_bottom {
    color: #eeeeee;
}

/* .dg.ac {
    z-index: 9999;
} */
