@charset "utf-8";
@import url(reset.css);
@import url(font.css);

@mixin imgBox {
  width: 100%;
  object-fit: cover;
  display: block;
}
@mixin btnStyle {
  font-size: 16px;
  display: block;
  padding: 4px 16px;
  border: 1px solid black;
  border-radius: 50px;
  white-space: nowrap;
}

@mixin btnHover {
  color: white;
  border: 1px solid black;
  background-color: black;
  transition: 0.3s;
}
@mixin btnClicked {
  color: white;
  border: 1px solid black;
  background-color: black;
  transition: 0.3s;
}
html,
body {
  font-size: 16px;
  line-height: 1.5;
}

section .inner {
  max-width: 1200px;
  width: calc(100% - 80px);
  margin: 0 auto;

  /*  background-color: antiquewhite; */
}
#header {
  width: 100%;
  color: white;
  height: 80px;
  background-color: black;
  position: fixed;
      z-index: 99;
  
  .inner {
    width: 100%;
    height: 100%;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      img {

      }
    }
    .gnb {
      display: flex;
      gap: 60px;
      li {
        .menu {

        }

      }
    }
  }
}

.section-01 {
  .inner {
    display: flex;
    align-items: center;
    padding: 300px 0;
    gap: 10.5%;

    .image {
      width: 23.5%;
      height: 371px;

      img {
        @include imgBox;
        height: 100%;
        display: block;
      }
    }

    .list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 59.5%;
      row-gap: 50px;
      .item {
        max-width: 306px;
        width: 42.85%;

        h3 {
          margin-bottom: 10px;
          font-size: 20px;
          font-weight: 600;
        }
        ul {
          li {
            margin-top: 4px;
          }
        }

        .Skill_list {
          font-size: 12px;
          display: flex;
          flex-wrap: wrap;
          gap: 20px 24px;
          li {
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
              width: 36px;
              height: 36px;
              object-fit: cover;
            }
          }
        }
      }
    }
  }
}
.section {
  .inner {
    padding: 0 0 300px;

    .cat_wrap {
      display: flex;
      justify-content: center;
      gap: 24px;
      margin-bottom: 40px;
      li {
        a {
          @include btnStyle();
          font-size: 14px;
        }
        a:hover {
          @include btnHover();
        }
      }
    }
    .list {
      display: flex;
      flex-direction: column;
      gap: 100px;

      .item {
        display: flex;
        justify-content: space-between;
        position: relative;
        padding: 85px 0 0 0;
        gap: 20px;

        .item-title {
          position: absolute;
          top: 0;
          left: 50%;
          transform: translate(-50%, 0%);
          text-align: center;
          font-size: 30px;
          font-weight: 600;
          white-space: nowrap;
        }

        .item-left {
          width: 64.33%;
          display: flex;
          flex-direction: column;
          gap: 20px;
          .image {
            display: flex;
            justify-content: center;
            padding: 50px 30px 50px ;
            width: 100%;

            border: 1px solid #333333;
            border-radius: 36px;


            img {
              @include imgBox();
            }
          }
          .tool {
            padding: 30px;
            border: 1px solid #333333;
            border-radius: 36px;
            display: flex;
            gap: 36px;
            li {
              display: flex;
              flex-direction: column;
              align-items: center;
              gap: 5px;
              
              img {
                width: 36px;
                height: 36px;
                object-fit: cover;
                display: block;
              }
              span {
                font-size: 14px;
                display: block;
              }
            }
          }
        }
        .item-right {
          width: 34%;
          padding: 30px;
          border: 1px solid #333333;
          border-radius: 36px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          position: relative;

          .project_info {
            display: flex;
            flex-direction: column;
            gap: 20px;
            

            li {
              strong {
              }
              p {
              }
            }
          }
          .QR {
            display: block;
            position: absolute;
            bottom: 0;
            right: 0;
            width: 23.47%;
          
            margin: 0 30px 30px 0;
            object-fit: cover;
            

          }

          .link_wrap {
            display: flex;
            flex-direction: column;
            column-gap: 24px;
            row-gap: 10px;
            

            li {

              a {
                width: 160px;
                height: 34px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                border: 1px solid #333333;
                border-radius: 10px;
                text-align: center;
                line-height: 34px;
                
              }
              a:hover {
                @include btnHover();
              }
            }
          }
        }
      }
    }
  }
}

.section-02 {
  .web_renewal {
    @include btnClicked;
  }
}
.section-03 {
  .app_renewal {
    @include btnClicked;
  }
}
.section-04 {
  .clone_coding {
    @include btnClicked;
  }
}
